@font-face {
    font-family: AtkinsonHyperlegibleNext;
    font-style: normal;
    font-weight: normal;
    src:url("../fonts/AtkinsonHyperlegibleNext-Regular.otf");
}
@font-face {
    font-family: AtkinsonHyperlegibleNext;
    font-style: normal;
    font-weight: bold;
    src:url("../fonts/AtkinsonHyperlegibleNext-Bold.otf");
}
@font-face {
    font-family: AtkinsonHyperlegibleNext;
    font-style: italic;
    font-weight: normal;
    src:url("../fonts/AtkinsonHyperlegibleNext-Italic.otf");
}
@font-face {
    font-family: AAtkinsonHyperlegibleNext;
    font-style: italic;
    font-weight: bold;
    src:url("../fonts/AtkinsonHyperlegibleNext-BoldItalic.otf");
}
html, body { font-family: "AtkinsonHyperlegibleNext", serif; }

code {
    font-family: "../fonts/AtkinsonHyperlegibleMono-Regular.otf", monospace;
}
